In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Nacteni dat z https://en.wikipedia.org/wiki/The_Economist_Democracy_Index
df = pd.read_html("edi.html")[5]
columns =  (['Region', '2024 rank', 'Country', 'Regime type']
           + list(range(2024, 2009, -1))) + [2008, 2006]
df.columns = columns
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Region       167 non-null    str
 1   2024 rank    167 non-null    int64
 2   Country      167 non-null    str
 3   Regime type  167 non-null    str
 4   2024         167 non-null    float64
 5   2023         167 non-null    float64
 6   2022         167 non-null    float64
 7   2021         167 non-null    float64
 8   2020         167 non-null    float64
 9   2019         167 non-null    float64
 10  2018         167 non-null    float64
 11  2017         167 non-null    float64
 12  2016         167 non-null    float64
 13  2015         167 non-null    float64
 14  2014         167 non-null    float64
 15  2013         167 non-null    float64
 16  2012         167 non-null    float64
 17  2011         167 non-null    float64
 18  2010         167 non-null    float64
 19  2008         167 non-null    float64
 20  2006         167 non-null    float64
dtypes: float64(17), int64(1), str(3)
memory usage: 27.5 KB

In [3]:
#1) Poradi podle indexu demokracie (predpokladam pro rok 2024)
df_ordered = pd.concat([df.iloc[:,0], df.iloc[:,2:]], axis=1)
df_ordered.set_index("Country", inplace=True)

df_ordered = df_ordered.sort_values(by=[2024], ascending=False)
df_ordered

,Region,Regime type,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2008,2006
Country,,,,,,,,,,,,,,,,,,,
Norway,Western Europe,Full democracy,9.81,9.81,9.81,9.75,9.81,9.87,9.87,9.87,9.93,9.93,9.93,9.93,9.93,9.80,9.80,9.68,9.55
New Zealand,Asia and Austral­asia,Full democracy,9.61,9.61,9.61,9.37,9.25,9.26,9.26,9.26,9.26,9.26,9.26,9.26,9.26,9.26,9.26,9.19,9.01
Sweden,Western Europe,Full democracy,9.39,9.39,9.39,9.26,9.26,9.39,9.39,9.39,9.39,9.45,9.73,9.73,9.73,9.50,9.50,9.88,9.88
Iceland,Western Europe,Full democracy,9.38,9.45,9.52,9.18,9.37,9.58,9.58,9.58,9.50,9.58,9.58,9.65,9.65,9.65,9.65,9.65,9.71
Switzerland,Western Europe,Full democracy,9.32,9.14,9.14,8.90,8.83,9.03,9.03,9.03,9.09,9.09,9.09,9.09,9.09,9.09,9.09,9.15,9.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Syria,Middle East and North Africa,Authoritarian,1.32,1.43,1.43,1.43,1.43,1.43,1.43,1.43,1.43,1.43,1.74,1.86,1.63,1.99,2.31,2.18,2.36
Central African Republic,Sub-Saharan Africa,Authoritarian,1.18,1.18,1.35,1.43,1.32,1.32,1.52,1.52,1.61,1.57,1.49,1.49,1.99,1.82,1.82,1.86,1.61
North Korea,Asia and Austral­asia,Authoritarian,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,0.86,1.03
Myanmar,Asia and Austral­asia,Authoritarian,0.96,0.85,0.74,1.02,3.04,3.55,3.83,3.83,4.20,4.14,3.05,2.76,2.35,1.77,1.77,1.77,1.77
Afghanistan,Asia and Austral­asia,Authoritarian,0.25,0.26,0.32,0.32,2.85,2.85,2.97,2.55,2.55,2.77,2.77,2.48,2.48,2.48,2.48,3.02,3.06

In [4]:
#2) Poradi podle poklesu indexu mezi 2010 a 2025
df_ordered2 = df_ordered
df_ordered2 = pd.concat([df_ordered.iloc[:,:17]], axis=1)
df_ordered2["Index diff"] = df_ordered2[2024] - df_ordered2[2010]
df_ordered2 = df_ordered2.sort_values(by=[2024], ascending=True)
df_ordered2

,Region,Regime type,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,Index diff
Country,,,,,,,,,,,,,,,,,,
Afghanistan,Asia and Austral­asia,Authoritarian,0.25,0.26,0.32,0.32,2.85,2.85,2.97,2.55,2.55,2.77,2.77,2.48,2.48,2.48,2.48,-2.23
Myanmar,Asia and Austral­asia,Authoritarian,0.96,0.85,0.74,1.02,3.04,3.55,3.83,3.83,4.20,4.14,3.05,2.76,2.35,1.77,1.77,-0.81
North Korea,Asia and Austral­asia,Authoritarian,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,1.08,0.00
Central African Republic,Sub-Saharan Africa,Authoritarian,1.18,1.18,1.35,1.43,1.32,1.32,1.52,1.52,1.61,1.57,1.49,1.49,1.99,1.82,1.82,-0.64
Syria,Middle East and North Africa,Authoritarian,1.32,1.43,1.43,1.43,1.43,1.43,1.43,1.43,1.43,1.43,1.74,1.86,1.63,1.99,2.31,-0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Switzerland,Western Europe,Full democracy,9.32,9.14,9.14,8.90,8.83,9.03,9.03,9.03,9.09,9.09,9.09,9.09,9.09,9.09,9.09,0.23
Iceland,Western Europe,Full democracy,9.38,9.45,9.52,9.18,9.37,9.58,9.58,9.58,9.50,9.58,9.58,9.65,9.65,9.65,9.65,-0.27
Sweden,Western Europe,Full democracy,9.39,9.39,9.39,9.26,9.26,9.39,9.39,9.39,9.39,9.45,9.73,9.73,9.73,9.50,9.50,-0.11
New Zealand,Asia and Austral­asia,Full democracy,9.61,9.61,9.61,9.37,9.25,9.26,9.26,9.26,9.26,9.26,9.26,9.26,9.26,9.26,9.26,0.35
Norway,Western Europe,Full democracy,9.81,9.81,9.81,9.75,9.81,9.87,9.87,9.87,9.93,9.93,9.93,9.93,9.93,9.80,9.80,0.01

In [5]:
# 3) Celkovy index pro EU (se zohlednenim poctu obyvatel)
pop = pd.read_html("population.html")[0]
pop = pop.iloc[:, 0:2]
pop.set_index("Location", inplace=True)

df3 = df
df3.set_index("Country", inplace=True)
df3 = pd.concat([df3.iloc[:,3:]], axis=1)
df3 = df3[df3.columns[::-1]]
df3 = df3.join(pop)
df3

,2006,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Population
Country,,,,,,,,,,,,,,,,,,
Afghanistan,3.06,3.02,2.48,2.48,2.48,2.48,2.77,2.77,2.55,2.55,2.97,2.85,2.85,0.32,0.32,0.26,0.25,43844000.0
Australia,9.09,9.09,9.22,9.22,9.22,9.13,9.01,9.01,9.01,9.09,9.09,9.09,8.96,8.90,8.71,8.66,8.85,27614400.0
Bangladesh,6.11,5.52,5.87,5.86,5.86,5.86,5.78,5.73,5.73,5.43,5.57,5.88,5.99,5.99,5.99,5.87,4.44,169828911.0
Bhutan,2.62,4.30,4.68,4.57,4.65,4.82,4.87,4.93,4.93,5.08,5.30,5.30,5.71,5.71,5.54,5.54,5.65,784043.0
Cambodia,4.77,4.87,4.87,4.87,4.96,4.60,4.78,4.27,4.27,3.63,3.59,3.53,3.10,2.90,3.18,3.05,2.94,17577760.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,8.34,8.45,8.16,8.02,8.02,8.02,8.05,8.30,8.30,8.08,8.08,8.29,8.12,7.94,8.07,8.07,8.13,49442844.0
Sweden,9.88,9.88,9.50,9.50,9.73,9.73,9.73,9.45,9.39,9.39,9.39,9.39,9.26,9.26,9.39,9.39,9.39,10608003.0
Switzerland,9.02,9.15,9.09,9.09,9.09,9.09,9.09,9.09,9.09,9.03,9.03,9.03,8.83,8.90,9.14,9.14,9.32,9104063.0
Turkey,5.70,5.69,5.73,5.73,5.76,5.63,5.12,5.12,5.04,4.88,4.37,4.09,4.48,4.35,4.35,4.33,4.26,85664944.0
United Kingdom,8.08,8.15,8.16,8.16,8.21,8.31,8.31,8.31,8.36,8.53,8.53,8.52,8.54,8.10,8.28,8.28,8.34,69487000.0

In [6]:
eu_states = [
    "Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus",
    "Czech Republic", "Denmark", "Estonia", "Finland", "France",
    "Germany", "Greece", "Hungary", "Ireland", "Italy",
    "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands",
    "Poland", "Portugal", "Romania", "Slovakia", "Slovenia",
    "Spain", "Sweden"
]

df_eu = df3.loc[eu_states]
df_eu

,2006,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Population
Country,,,,,,,,,,,,,,,,,,
Austria,8.69,8.49,8.49,8.49,8.62,8.48,8.54,8.54,8.41,8.42,8.29,8.29,8.16,8.07,8.20,8.28,8.28,9216459.0
Belgium,8.15,8.16,8.05,8.05,8.05,8.05,7.93,7.93,7.77,7.78,7.78,7.64,7.51,7.51,7.64,7.64,7.64,11924322.0
Bulgaria,7.10,7.02,6.84,6.78,6.72,6.83,6.73,7.14,7.01,7.03,7.03,7.03,6.71,6.64,6.53,6.41,6.34,6437360.0
Croatia,7.04,7.04,6.81,6.73,6.93,6.93,6.93,6.93,6.75,6.63,6.57,6.57,6.50,6.50,6.50,6.50,6.50,3866233.0
Cyprus,7.60,7.70,7.29,7.29,7.29,7.29,7.40,7.53,7.65,7.59,7.59,7.59,7.56,7.43,7.38,7.38,7.38,966400.0
Czech Republic,8.17,8.19,8.19,8.19,8.19,8.06,7.94,7.94,7.82,7.62,7.69,7.69,7.67,7.74,7.97,7.97,8.08,10897178.0
Denmark,9.52,9.52,9.52,9.52,9.52,9.38,9.11,9.11,9.20,9.22,9.22,9.22,9.15,9.09,9.28,9.28,9.28,6027601.0
Estonia,7.74,7.68,7.68,7.61,7.61,7.61,7.74,7.85,7.85,7.79,7.97,7.90,7.84,7.84,7.96,7.96,8.13,1362954.0
Finland,9.25,9.25,9.19,9.06,9.06,9.03,9.03,9.03,9.03,9.03,9.14,9.25,9.20,9.27,9.29,9.30,9.30,5656394.0
France,8.07,8.07,7.77,7.77,7.88,7.92,8.04,7.92,7.92,7.80,7.80,8.12,7.99,7.99,8.07,8.07,7.99,68736000.0
Germany,8.82,8.82,8.38,8.34,8.34,8.31,8.64,8.64,8.63,8.61,8.68,8.68,8.67,8.67,8.80,8.80,8.73,83497147.0
Greece,8.13,8.13,7.92,7.65,7.65,7.65,7.45,7.45,7.23,7.29,7.29,7.43,7.39,7.56,7.97,8.14,8.07,10372335.0
Hungary,7.53,7.44,7.21,7.04,6.96,6.96,6.90,6.84,6.72,6.64,6.63,6.63,6.56,6.50,6.64,6.72,6.51,9539502.0
Ireland,9.01,9.01,8.79,8.56,8.56,8.68,8.72,8.85,9.15,9.15,9.15,9.24,9.05,9.00,9.13,9.19,9.19,5458600.0
Italy,7.73,7.98,7.83,7.74,7.74,7.85,7.85,7.98,7.98,7.98,7.71,7.52,7.74,7.68,7.69,7.69,7.58,58956824.0
Latvia,7.37,7.23,7.05,7.05,7.05,7.05,7.48,7.37,7.31,7.25,7.38,7.49,7.24,7.31,7.37,7.38,7.66,1824800.0
Lithuania,7.43,7.36,7.24,7.24,7.24,7.54,7.54,7.54,7.47,7.41,7.50,7.50,7.13,7.18,7.31,7.31,7.59,2897009.0
Luxembourg,9.10,9.10,8.88,8.88,8.88,8.88,8.88,8.88,8.81,8.81,8.81,8.81,8.68,8.68,8.81,8.81,8.88,681973.0
Malta,8.39,8.39,8.28,8.28,8.28,8.28,8.39,8.39,8.39,8.15,8.21,7.95,7.68,7.57,7.70,7.93,7.93,574250.0
Netherlands,9.66,9.53,8.99,8.99,8.99,8.84,8.92,8.92,8.80,8.89,8.89,9.01,8.96,8.88,9.00,9.00,9.00,18134031.0
Poland,7.30,7.30,7.05,7.12,7.12,7.12,7.47,7.09,6.83,6.67,6.67,6.62,6.85,6.80,7.04,7.18,7.40,37363000.0
Portugal,8.16,8.05,8.02,7.81,7.92,7.65,7.79,7.79,7.86,7.84,7.84,8.03,7.90,7.82,7.95,7.75,8.08,10749635.0
Romania,7.06,7.06,6.60,6.54,6.54,6.54,6.68,6.68,6.62,6.44,6.38,6.49,6.40,6.43,6.45,6.45,5.99,19036031.0
Slovakia,7.40,7.33,7.35,7.35,7.35,7.35,7.35,7.29,7.29,7.16,7.10,7.17,6.97,7.03,7.07,7.07,7.21,5413191.0
Slovenia,7.96,7.96,7.69,7.76,7.88,7.88,7.57,7.57,7.51,7.50,7.50,7.50,7.54,7.54,7.75,7.75,7.82,2130986.0
Spain,8.34,8.45,8.16,8.02,8.02,8.02,8.05,8.30,8.30,8.08,8.08,8.29,8.12,7.94,8.07,8.07,8.13,49442844.0
Sweden,9.88,9.88,9.50,9.50,9.73,9.73,9.73,9.45,9.39,9.39,9.39,9.39,9.26,9.26,9.39,9.39,9.39,10608003.0

In [7]:
pop_eu = df_eu.Population.sum()
pop_eu

np.float64(451771062.0)

In [8]:
eu_index = df_eu.iloc[:,:-1].mul(df_eu.iloc[:, -1], axis=0).sum(axis=0) / pop_eu
eu_index # Indexy pro EU (se zohlednenim poctu obyvatel) pro jednotlive roky

2006    8.210491
2008    8.239125
2010    7.965072
2011    7.913260
2012    7.940400
2013    7.939556
2014    8.049278
2015    8.042936
2016    7.995752
2017    7.924051
2018    7.899916
2019    7.959354
2020    7.930556
2021    7.896908
2022    8.010245
2023    8.023762
2024    7.998696
dtype: float64

In [9]:
# 4) Provest klasifikaci zemi do skupin (dve az pet skupin) podle hodnot index(2024) resp. rozdíl (2024-2006) bez supervizoru + pocet obyvatel (logaritmus)
df3["Log(Pop)"] = np.log(df3["Population"])
df3["Diff(2006-2024)"] = df3[2024] - df3[2006]
df3

,2006,2008,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Population,Log(Pop),Diff(2006-2024)
Country,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.06,3.02,2.48,2.48,2.48,2.48,2.77,2.77,2.55,2.55,2.97,2.85,2.85,0.32,0.32,0.26,0.25,43844000.0,17.596148,-2.81
Australia,9.09,9.09,9.22,9.22,9.22,9.13,9.01,9.01,9.01,9.09,9.09,9.09,8.96,8.90,8.71,8.66,8.85,27614400.0,17.133848,-0.24
Bangladesh,6.11,5.52,5.87,5.86,5.86,5.86,5.78,5.73,5.73,5.43,5.57,5.88,5.99,5.99,5.99,5.87,4.44,169828911.0,18.950302,-1.67
Bhutan,2.62,4.30,4.68,4.57,4.65,4.82,4.87,4.93,4.93,5.08,5.30,5.30,5.71,5.71,5.54,5.54,5.65,784043.0,13.572219,3.03
Cambodia,4.77,4.87,4.87,4.87,4.96,4.60,4.78,4.27,4.27,3.63,3.59,3.53,3.10,2.90,3.18,3.05,2.94,17577760.0,16.682145,-1.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,8.34,8.45,8.16,8.02,8.02,8.02,8.05,8.30,8.30,8.08,8.08,8.29,8.12,7.94,8.07,8.07,8.13,49442844.0,17.716328,-0.21
Sweden,9.88,9.88,9.50,9.50,9.73,9.73,9.73,9.45,9.39,9.39,9.39,9.39,9.26,9.26,9.39,9.39,9.39,10608003.0,16.177119,-0.49
Switzerland,9.02,9.15,9.09,9.09,9.09,9.09,9.09,9.09,9.09,9.03,9.03,9.03,8.83,8.90,9.14,9.14,9.32,9104063.0,16.024231,0.30
Turkey,5.70,5.69,5.73,5.73,5.76,5.63,5.12,5.12,5.04,4.88,4.37,4.09,4.48,4.35,4.35,4.33,4.26,85664944.0,18.265954,-1.44
United Kingdom,8.08,8.15,8.16,8.16,8.21,8.31,8.31,8.31,8.36,8.53,8.53,8.52,8.54,8.10,8.28,8.28,8.34,69487000.0,18.056650,0.26

In [10]:
df4 = df3[[2024, "Diff(2006-2024)", "Log(Pop)"]]
df4.info()

<class 'pandas.DataFrame'>
Index: 167 entries, Afghanistan to United Kingdom
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   2024             167 non-null    float64
 1   Diff(2006-2024)  167 non-null    float64
 2   Log(Pop)         166 non-null    float64
dtypes: float64(3)
memory usage: 9.3+ KB

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [11]:
df4 = df4.dropna()
df4.columns = df4.columns.astype(str)

df_scaled = StandardScaler().fit_transform(df4)

kmeans = KMeans(n_clusters=4, random_state=42, n_init=20)
labels = kmeans.fit_predict(df_scaled)

df4["Groups"] = labels
df4 # Rozdeleny df do 4 skupin

                2024  Diff(2006-2024)   Log(Pop)  Groups
Country
Afghanistan     0.25            -2.81  17.596148       1
Australia       8.85            -0.24  17.133848       3
Bangladesh      4.44            -1.67  18.950302       1
Bhutan          5.65             3.03  13.572219       0
Cambodia        2.94            -1.83  16.682145       1
...              ...              ...        ...     ...
Spain           8.13            -0.21  17.716328       3
Sweden          9.39            -0.49  16.177119       0
Switzerland     9.32             0.30  16.024231       0
Turkey          4.26            -1.44  18.265954       1
United Kingdom  8.34             0.26  18.056650       3

[166 rows x 4 columns]